/*Fontes*/
@font-face {
  /*liquido fluido*/
  font-family: fluido;
  src: url(/fontes/LIQUIDO-Fluid.otf);
  font-display: swap;
}

@font-face {
  /*liquido regular*/
  font-family: liquido;
  src: url(/fontes/LIQUIDO-Reguar.otf);
  font-display: swap;
}

@font-face {
  /*Prompt light*/
  font-family: padrao;
  src: url(/fontes/Prompt-Thin.ttf);
  font-weight: 300;
  font-style: light;
  font-display: swap;
}

@font-face {
  /*Prompt light*/
  font-family: padrao;
  src: url(/fontes/Prompt-Light.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /*Prompt light*/
  font-family: padrao;
  src: url(/fontes/Prompt-Medium.ttf);
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  /*Prompt light*/
  font-family: padrao;
  src: url(/fontes/Prompt-Bold.ttf);
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}
